.Cinema {
  margin-bottom: 18px;
  perspective: 400px;
  display: grid;
  place-items: center;
  grid-gap: 24px;
}

.Cinema .screen {
  height: 30px;
  background: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0 3px 10px 2px;
  border-radius: 4px;
}

.Cinema .seats {
  display: table;
  border-spacing: 10px;
  border-collapse: separate;
}

.Cinema .seats td:not(.row-number) {
  display: table-cell;
  background: #626262;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  top: 1px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}

.Cinema .seats td.selected {
  background: #0db012 !important;
}

.Cinema .seats td.occupied {
  background: #cc0000;
}

.Cinema .seats td:not(.occupied,.row-number):hover,
.Cinema .seats td:not(.occupied,.row-number):focus {
  cursor: pointer;
  background: #8be187;
  transform: scale(1.2);
}

.Cinema .seats td.row-number {
  color: #131313;
  font-weight: bold;
}

