
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background: #222222;
  color: white;
  font-size: 14px;

  min-height: 100vh;
  display: grid;
  place-items: center;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 30px;
  background-image: url("src/assets/images/rows-red-seats-theater.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Card {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 20px;
  padding: 30px;
  border-radius: 4px;
}

.info .count {
  color: #12b71c;
}

.info .total {
  color: #12b71c;
}


