<div class="App">
  <div class="Card">
    <app-movies [movies]="movies" [selectedMovie]="selectedMovie" (updateSelectedMovie)="updateSelectedMovie($event)"></app-movies>
    <app-showcase></app-showcase>
    <app-cinema [movie]="selectedMovie" [selectedSeats]="selectedSeats"
                (seatSelected)="updateSelectedSeats($event)"
                (seatDeselected)="updateSelectedSeats($event)">
    </app-cinema>
    <p class="info">
      You have selected <span class="count">{{ selectedSeats.length }}</span> seats for the price of
      <span class="total">{{ getTotalPrice() }}$</span>
    </p>
    <button type="button" class="btn btn-success">Booking Now</button>
  </div>
</div>



