@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background: #222222;
  color: white;
  font-size: 14px;

  min-height: 100vh;
  display: grid;
  place-items: center;

  background-image: url("src/assets/images/rows-red-seats-theater.jpg");
  background-size: cover; /* A háttérkép méretét a konténer méretéhez igazítja */
  background-position: center; /* A háttérképet középre pozicionálja */
  background-repeat: no-repeat; /* Ne ismételje meg a háttérképet */
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}


