<div class="App">
  <div class="Card">
    <app-date
                [dates]="dates"
                [selectedDate]="selectedDate"
                (updateSelectedDate)="updateSelectedDate($event)">
    </app-date>
    <app-movies *ngIf="selectedDate"
                [movies]="movies"
                [filteredMovies]="filteredMovies"
                [selectedMovie]="selectedMovie"
                (updateSelectedMovie)="updateSelectedMovie($event)">
    </app-movies>
    <app-time   *ngIf="selectedDate && selectedMovie"
                [times]="times"
                [selectedTime]="selectedTime"
                [selectedMovie]="selectedMovie"
                [selectedDate]="selectedDate"
                (updateSelectedTime)="updateSelectedTime($event)">
    </app-time>
    <app-showcase></app-showcase>
    <app-cinema
                [selectedMovie]="selectedMovie"
                [selectedSeats]="selectedSeats"
                [selectedDate]="selectedDate"
                [selectedTime]="selectedTime"
                (seatSelected)="updateSelectedSeats($event)"
                (seatDeselected)="updateSelectedSeats($event)">
    </app-cinema>
    <p class="info">
      You have selected <span class="count">{{ selectedSeats.length }}</span> seats for the price of
      <span class="total">{{ getTotalPrice() }}$</span>
    </p>
    <button type="button" class="btn btn-success" (click)="handleBookingNow()">Booking Now</button>
  </div>
</div>



